# Ignore node modules
node_modules
dist

# Ignore TypeScript cache
*.tsbuildinfo

# Ignore coverage
coverage

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environment files
.env

# Git files
.git
.gitignore
